 #sponsors{
  height:60vh;
  background-color: #000;
}
/* #gallery{
  height:100vh;
} */

.fields{
  color: #fff;
  font-size: 200%;
}

.navbar-brand{
  height: auto;
  width: 50%;
}

.logo_size{
  width: 20%;
}

.wrapper {
    text-align: center;
    margin-top: 10%;
    position: relative;
    margin-left: 50%;
}


a {
    text-decoration: none !important;
}

@media (max-width: 767px) {
  .fields{
    color: #fff;
    font-size: 100%;
  }
  .navbar-brand{
    height: auto;
    width: 80%;
  }
  .logo_size{
    width:60%;
  }

}

@media (max-width:660px) and (max-height:400px){
  .fields{
    color: #fff;
    font-size: 100%;
  }
  .navbar-brand{
    height: auto;
    width: 80%;
  }
  .logo_size{
    width:50%;
  }
}

html, body {
  font-family: 'Special Elite', cursive !important;
  background-image: url('./images/bg - Copy.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;

  .slides {
    display: none;
  }
}

li {
  display: inline-block;
  font-size: 120%;
  list-style-type: none;
  padding: 5%;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 120%;
}


.nav-link{
  color: white !important;
}

.boxed {
  color: white;
  font-size: 110%;
  margin-top:30%;
  margin-bottom: 40%;
  background: #095f8c ;
  padding: 10%;
  width:100%;
  transform: translate(0%, -30%);
  opacity: 0.9;
  filter: alpha(opacity=60);
}

ul{
  /* background: #d3d3d3; */
  color: #000;
  border-radius: 15px;
}

.button-loc{
  transform: translate(120%, -500%);
}

.navbar-default{
  transition:500ms ease;
  background:#000000cf !important;
}
.navbar-default.scrolled{
  background:#343a40!important;
}

@media (max-width: 767px){
  .draw{
    padding-top: 60%;
    height: 0px;
    weight: 0px;
  }

  li {
    font-size: 90%;
      padding: 1%;
  }

  li span {
    font-size: 90%;
  }

  .bg-color{
    transition:500ms ease;
    background:#343a40!important;
  }

  .boxed{
    margin-top: 40%;
  }

  .button-loc{
    transform: translate(80%, -500%);
  }

  .navbar-toggler{
    padding: 0rem !important;
  }
}

.eve_bt{
  background-color: #00000000; /* Green */
  border: 3px solid rgb(0, 63, 114);
  border-radius: 20%;
  color:black;
  background-color:whitesmoke;
  margin: 1%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px
}
 .slider h1{
   color: white;
   text-align: center;
 }
 